<section class="section--postsWrapper">
  <div class="container container--content">

  <table cellpadding="10" align="left">
  <tr>
    <th><img src="/assets/images/jeff-photo.png" align="left" style="width: 20%; height: 20%; padding-right: 30px;"></th>
    <th>
    <p>Hello, my name is Jeff. </p>
    <p>I'm a physician interested in innovation. I built this site in my spare time to catalog some of my work.</p>
    <p>Say hello to me on twitter <a href="https://twitter.com/zhifeisun">@zhifeisun</a></p>
    </th>
  </tr>

    </table>
  </div>
</section>
