<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">About me</h3>
    <img src="/assets/images/jeff-photo.png" align="left" style="width: 25%; height: 25%; padding-top: 30px;padding-right: 30px;">
    <p>
      Hi, I'm Jeff. I'm a physician interested in innovation. Say hello to me on twitter <a href="https://twitter.com/zhifeisun">@zhifeisun</a> 
    </p>
    <!--
    <div class="newsletterForm-wrapper">

    </div> -->
    <hr/>
  </div>
</section>
