<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">About me</h3>
    <img src="/assets/images/jeff-photo.png" align="left" style="width: 25%; height: 25%; padding-top: 30px;padding-right: 30px;">
    <p>I'm a physician interested in data science and surgical innovation. </p> 
      <p>Say hello to me via  
      <SCRIPT TYPE="text/javascript"> 
        emailE=('zhifei.sun@' + 'gmail.com')
        document.write('<A href="mailto:' + emailE + '">' + 'email' + '</a>')
      </script>, 
      <a href="http://twitter.com/{{ site.author.twitter }}"><img src="/assets/images/twitter--black.png" height="25px"></a>

       ,
      <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" class="socialAccount socialAccount--linkedin" target="_blank"></a>, or 
      <a href="https://www.researchgate.net/profile/{{ site.author.researchgate }}" class="socialAccount socialAccount--researchgate" target="_blank"></a>

      </p>
    <hr/>
  </div>
</section>
