<section class="section--subscribe">
  <div class="container container--content">
  
    <h3 class="u-alignCenter">About me</h3>
    <img src="/assets/images/jeff-photo.png" align="left" style="width: 25%; height: 25%; padding-top: 30px;padding-right: 30px;">
      <p>I'm a physician interested in data science and surgical innovation. </p> 
      <p>Say hello to me via  
      <SCRIPT TYPE="text/javascript"> 
        emailE=('zhifei.sun@' + 'gmail.com')
        document.write('<A href="mailto:' + emailE + '">' + 'email' + '</a>')
      </script>, 
      <a href="http://twitter.com/{{ site.author.twitter }}">
      <img src="/assets/images/twitter--black.png" width="25px" height="20px" alt="twitter"></a>,
      <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}">
      <img src="/assets/images/linkedin--black.png" width="23px" height="20px" alt="linkedin"></a>, or
      <a href="https://www.researchgate.net/profile/{{ site.author.researchgate }}">
      <img src="/assets/images/researchgate--black.png" width="20px" height="20px" alt="researchgate">
      </a>.
      </p>
  </div>
</section>
